.help {
  padding: 68px 0;
  background-color: $primary-color;
  &-message {
    display: flex;
    justify-content: center;
    &__image {
      margin: 0;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
    }
  }
  &-title {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    @include bold;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
  }
  &-description {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .help {
    padding: 30px 20px;
    &-message {
      &__text {
        margin-left: 0;
      }
      &__image {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .help {
    &-message {
      margin-bottom: 20px;
      &__text {
        align-items: center;
        text-align: center;
      }
    }
  }
}